{% extends 'base.html' %}

{% block content %}
    
<main class="container">
    <div class="row">
        <div class="cold-md-4 offset-md-4 mt-5 m-auto">
            <form action="/create_task/" method="POST" class="card card-body">
                <h1 class="fw-bold text-center">Create task</h1>

                    {{error}}

                    {% csrf_token %}
        
                    {{form}}

                    <button class="btn btn-primary">
                        Save
                    </button>

                </form>
        </div>
    </div>
</main>
    

{% endblock %}