{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis cupiditate quasi eos totam tenetur
            nobis inventore eveniet ex. Ipsum blanditiis harum dignissimos in excepturi consectetur a doloribus, accusantium
            sint quasi nemo, neque reprehenderit. Dicta, aspernatur nesciunt debitis sint iusto amet quos modi voluptatum
            quisquam at illo rem molestias excepturi itaque nam fugiat cupiditate aut perferendis suscipit! Ipsum natus enim
            suscipit, non repellendus ad sit aliquam rem dolorum quidem architecto ducimus accusantium asperiores facilis
            quasi voluptatibus rerum reiciendis assumenda ex, excepturi ab libero molestias omnis. Hic distinctio alias
            aperiam voluptate reiciendis quo quia illum et eveniet eius. Laborum, aspernatur voluptates?</p>

            <div class="text-center">
                <a class="btn btn-warning" href="/signin/">
                    Signin
                </a>
    
                <a class="btn btn-info" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}