{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center fw-bold">Django App</h1>
        <p class="text-center mt-5">To Do App written in Django. My apologies for the frontend, it is not my strongest skill.
            Enjoy the app and let me a comment in my Inbox: johan.gal.car@gmail.com ... 
            See you around!
        </p>

            <div class="text-center">
                <a class="btn btn-warning mt-5" href="/signin/">
                    Signin
                </a>
    
                <a class="btn btn-info mt-5" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}